.navbar {
  font-size: 14px;
  width: 100%;
  display: flex;
  background-color: rgb(249, 249, 249);
  border-bottom: 1px solid #ccc;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 30px;
}
.BMap_bubble_content{
    padding: 5px 10px;
}
.navbar a {
  color: #3d6dcc;
}
.BMap_bubble_pop {
  padding: 0 !important;
}
